.emergency {
	// .emergency_nav
	&_nav {
		display: inline-flex;
		flex-direction: column;
		height: 70px;
		@include mw(M) {
			flex: none;
			position: relative;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 92px;
			background-color: #fff;
			box-shadow: 0px 1px 9px rgba(38, 38, 38, 0.05);
			z-index: 1;
		}
		@include mw(XS) {
			height: 62px;
		}
		span {
			display: inline-block;
			width: 100%;
			margin-top: 10px;
			text-align: right;
			@include mw(M) {
				position: absolute;
				top: 100%;
				right: 16px;
				margin-top: 20px;
			}
			@include mw(XS) {
				margin-top: 18px;
			}
		}
		& + .emergency_group {
			margin-top: 20px;
			@include mw(M) {
				margin-top: 135px;
			}
			@include mw(XS) {
				margin-top: 116px;
			}
		}

		.name {
			// display: inline-block;
			padding-left: 24px;
			color: #262626;
			font-weight: 700;
			font-size: 20px;
			@include mw(XS) {
				padding-left: 16px;
			}
		}
	}
	// .emergency_group
	&_group {
		@include d_f(flex);
		flex-wrap: wrap;
		width: 100%;
		padding-bottom: 8px;
		@include mw(M) {
			padding: 43px 16px 8px;
		}

		& + & {
			margin-top: 10px;
		}
		&_title {
			@include d_f(flex, none, center);
			width: 100%;
			color: #262626;
			font-weight: 700;
			font-size: 20px;
			fill: #fdaaa2;
			i {
				flex: none;
				display: block;
				width: 24px;
				height: 23px;
				margin-right: 5px;
			}
		}
		// .emergency_group_card
		&_card {
			position: relative;
			width: calc(100% / 3 - 16px / 3);
			background-color: #fff;
			box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
			padding: 12px;
			border-radius: 20px;
			margin-top: 8px;
			margin-left: 8px;
			&:nth-child(3n - 1) {
				margin-left: 0;
			}
			@include mw(M) {
				width: calc(100% / 2 - 8px / 2);
				&:nth-child(3n - 1) {
					margin-left: 8px;
				}
				&:nth-child(even) {
					margin-left: 0;
				}
			}
			@include mw(XS) {
				width: 100%;
				margin-left: 0;
				&:nth-child(3n - 1) {
					margin-left: 0;
				}
			}
			p + p {
				margin-top: 8px;
			}
			.title {
				@include d_f(flex, space-between, none);
			}
			span {
				color: #fdaaa2;
				white-space: nowrap;
			}
			.address {
				max-width: calc(100% - 50px);
			}
			a {
				flex: none;
				position: absolute;
				right: 12px;
				bottom: 12px;
				@include d_f(flex, center, center);
				width: 40px;
				height: 40px;
				background: #262626;
				fill: #fff;
				border-radius: 50px;
			}
		}
	}
}
