.wrap {
	@include d_f(flex);
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: #e5e5e5;
}
.head {
	display: none;
	flex: none;
	width: 100%;
	height: 92px;
	padding: 0 16px;
	background-color: #e5e5e5;
	color: #262626;
	fill: #262626;
	font-weight: 700;
	font-size: 20px;
	@include mw(M) {
		@include d_f(flex, space-between, center);
	}
	@include mw(XS) {
		height: 62px;
	}
	// head_btn
	&_btn {
		flex: none;
		width: 46px;
		height: 46px;
		@extend %hand;
		@include mw(XS) {
			width: 36px;
			height: 36px;
		}
	}
}
.container {
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	@at-root .home & {
		@include d_f(flex);
		@include mw(M) {
			flex-direction: column;
		}
	}
	@at-root .emergency & {
		// overflow: hidden;
		@include d_f(flex, flex-start, center);
		flex-direction: column;
		// padding: 42px 87px 0;
		padding-top: 42px;
		@include mw(M) {
			padding: 0;
			// padding: 0 16px 0;
		}
	}
}
.menu {
	flex: none;
	@include d_f(flex, space-between, center);
	width: 100%;
	height: 77px;
	background-color: #fff;
	box-shadow: 0px 1px 9px rgba(38, 38, 38, 0.05);
	padding: 0 80px;
	@include mw(XL) {
		padding: 0 40px;
	}
	@include mw(M) {
		order: 1;
		height: 56px;
		padding: 0 16px;
	}
	// menu_nav
	&_nav {
		@include d_f(flex);
		@include mw(M) {
			width: 100%;
			justify-content: space-between;
		}
		// menu_nav_item
		&_item {
			width: 95px;
			@extend %hand;
			@include mw(M) {
				width: calc(100% / 5);
			}
			a {
				@include d_f(flex, center, center);
				color: #dedede;
				fill: #dedede;
				&:after {
					content: attr(data-txt);
					overflow: hidden;
					width: 0;
					white-space: nowrap;
					@extend %transition;
				}
				> i {
					width: 24px;
					height: 24px;
					// margin-right: 14px;
				}
			}

			&.on {
				a {
					color: #fdaaa2;
					fill: #fdaaa2;
					&:after {
						width: 100%;
						margin-left: 14px;
						@include mw(M) {
							width: 0;
							margin-left: 0;
						}
					}
				}
			}

			@include hoverHandler {
				& {
					a:after {
						width: 100%;
						margin-left: 14px;
						@include mw(M) {
							width: 0;
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}

.logo {
	width: 118px;
	height: 53px;
	@include mw(M) {
		display: none;
	}
	// logo_img
	&_img {
		width: 100%;
	}
}
.tab {
	@include d_f(inline-flex, center, center);
	@include mw(M) {
		padding-right: 24px;
	}
	@include mw(XS) {
		padding-right: 16px;
	}
	// .tab_item
	&_item {
		@include d_f(inline-flex, center, center);
		width: 95px;
		height: 38px;
		background-color: #fff;
		color: #262626;
		border-radius: 10px;
		@extend %hand;

		@include mw(M) {
			background-color: #f8f8f8;
		}
		@include mw(XS) {
			width: 64px;
		}
		@include mw(XXS) {
			width: 50px;
		}
		& + & {
			margin-left: 12px;
			@include mw(XS) {
				margin-left: 6px;
			}
		}
		&.on {
			background-color: #fdaaa2;
			color: #fff;
		}
	}
}

.scroll_y {
	overflow-x: hidden;
	overflow-y: auto;
	@at-root .emergency & {
		padding: 0 87px;
		@include mw(M) {
			padding: 0;
		}
	}
}
.func {
	flex: none;
	width: 413px;
	height: 100%;
	padding: 20px 36px 16px 87px;
	background-color: #fafafa;
	box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
	@include mw(XL) {
		width: 370px;
		padding: 20px 36px 16px 40px;
	}
	// .func_box
	&_box {
		& + & {
			margin-top: 8px;
		}

		& + .func_switch {
			margin-top: 23px;
		}
	}
	// .func_switch
	&_switch {
		@include d_f(flex, space-between);
		& + & {
			margin-top: 10px;
		}
	}
	// .func_ul
	&_ul {
		@include d_f(flex);
		flex-wrap: wrap;
		h2 + & {
			margin-top: 4px;
		}
	}
	// .func_li
	&_li {
		flex: none;
		@extend %hand;
		@extend %transition;
		@include d_f(flex, center, center);
		width: 90px;
		height: 40px;
		fill: #262626;
		background: #ffffff;
		box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
		border-radius: 14px;
		color: #262626;
		& + &:not(:nth-child(3n + 1)) {
			margin-left: 10px;
		}
		&:nth-child(n + 4) {
			margin-top: 8px;
		}
		&.on {
			background-color: #262626;
			fill: #fff;
			color: #fff;
		}
		&.square {
			width: 90px;
			height: 68px;
		}
	}
	// .func_btn
	&_btn {
		width: 100%;
		height: 50px;
		margin-top: 15px;
		background: #262626;
		color: #fff;
		box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
		border-radius: 16px;
		@extend %hand;
	}
}
h2 {
	color: #262626;
	font-weight: 500;
	font-size: 16px;
}

.icon {
	display: block;
	&._animal {
		@include d_f(flex, center, center);
		width: 36px;
		height: 36px;
	}
}
.male {
	fill: #70d4f4;
}
.female {
	fill: #fdaaa2;
}

.switch {
	position: relative;
	width: 52px;
	height: 28px;
	@extend %hand;
	input {
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0;
		display: none;
		&:checked {
			& + .switch_ball {
				background-color: #fdaaa2;
				&:after {
					transform: translateX(100%);
				}
			}
		}
	}
	// .switch_ball
	&_ball {
		@include d_f(flex, none, center);
		width: 100%;
		height: 100%;
		padding-left: 4px;
		background: #dedede;
		border-radius: 50px;
		@extend %transition;
		&:after {
			content: "";
			display: block;
			width: 22px;
			height: 22px;
			background-color: #fff;
			border-radius: 50px;
			@extend %transition;
		}
	}
}
.slip {
	position: relative;
	@include d_f(flex, center);
	width: 100%;
	height: 100%;
	@include mw(XS) {
		align-items: center;
	}
	&::before {
		content: "";
		position: absolute;
		top: 21.44%;
		left: 40%;
		width: 223px;
		height: 387px;
		background: #ffffff;
		/* shadow */
		box-shadow: 0px 4px 24px rgba(10, 10, 10, 0.25);
		border-radius: 32px;
		transform: matrix(0.96, 0.29, -0.29, 0.96, 0, 0);
		@include mw(M) {
			// top: unset;
			left: 50px;
			right: 0;
			margin: 0 auto;
		}
		@include mw(XS) {
			left: 84px;
			width: 210px;
			height: 265px;
		}
	}

	// .slip_item
	&_item {
		overflow: hidden;
		position: absolute;
		top: 12.36%;
		width: 276px;
		height: 444px;
		background: #ffffff;
		border: 12px solid #fff;
		box-shadow: 0px 9px 11px rgba(0, 0, 0, 0.25);
		border-radius: 32px;
		transform: rotate(-3deg) ;
		@extend %transition;
		@include mw(XS) {
			flex: none;
			width: 261px;
			height: 419px;
		}
		&:not(._noData)::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				179.93deg,
				rgba(0, 0, 0, 0) 56.33%,
				#000000 98.5%
			);
		}
		&._noData {
			@include d_f(flex, center, center);
			width: 244px;
			height: 413px;
			color: #fdaaa2;
			transform: rotate(14deg);
			@include mw(XS) {
				width: 230px;
				height: 390px;
			}
			span {
				transform: rotate(-14deg);
			}
		}

		// .slip_item_detail
		&_detail {
			flex: none;
			position: absolute;
			top: 14px;
			right: 14px;
			@include d_f(flex, center, center);
			width: 36px;
			height: 36px;
			transform: rotate(3deg);
			// background-color: #fff;
			@extend %hand;
			border-radius: 50px;
			box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
			i {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				@include d_f(flex, center, center);
				margin: auto;
			}
		}
		// .slip_item_info
		&_info {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			@include d_f(flex, space-between);
			padding: 0 14px;
			transform: rotate(3deg);

			button {
				flex: none;
				@include d_f(flex, center, center);
				width: 50px;
				height: 50px;
				background-color: #fff;
				border-radius: 50px;
				@extend %hand;
			}
			.unlike {
				fill: #262626;
				i {
					width: 14px;
					height: 14px;
				}
			}
			.like {
				fill: #fdaaa2;
				i {
					width: 22px;
					height: 18px;
				}
				svg {
					width: 22px;
				}
			}
		}
	}
}
.info {
	@include d_f(flex);
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 0 55px 30px;
	@include mw(XL) {
		padding: 0 20px 30px;
	}
}
.recommend {
	@include d_f(flex, space-between);
	// .recommend_li
	&_li {
		@include d_f(flex);
		width: calc(100% / 3 - 10px);
		height: 70px;
		padding: 10px 12px;
		background: #ffffff;
		box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
		border-radius: 23px;
		& + & {
			margin-left: 10px;
		}
	}
	// .recommend_pic
	&_pic {
		width: 50px;
		height: 50px;
		margin-right: 10px;
		border-radius: 50px;
		background-color: #ccc;
	}
}
.petInfoTxt {
	// .petInfoTxt_name
	&_name {
		@include d_f(flex, none, center);
	}
	.gender {
		display: block;
		width: 24px;
		height: 24px;
	}
	@at-root .slip_item_info & {
		color: #fff;
	}
}

.showPC {
	@include mw(M) {
		display: none;
	}
}
.showPAD {
	display: none;
	@include mw(M) {
		display: block;
		@at-root &.head {
			display: flex;
		}
	}
}
