.wrap {
	@include d_f(flex);
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: #e5e5e5;
}
.head {
	display: none;
	flex: none;
	width: 100%;
	height: 92px;
	padding: 0 16px;
	background-color: #ccc;
	color: #262626;
	fill: #262626;
	font-weight: 700;
	font-size: 20px;
	@include mw(M) {
		@include d_f(flex, space-between, center);
	}
	@include mw(XS) {
		height: 62px;
	}
	// head_btn
	&_btn {
		flex: none;
		width: 46px;
		height: 46px;
		@extend %hand;
		@include mw(XS) {
			width: 36px;
			height: 36px;
		}
	}
}
.container {
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	@at-root .home & {
		@include d_f(flex);
	}
	@at-root .emergency & {
		// overflow: hidden;
		@include d_f(flex, flex-start, center);
		flex-direction: column;
		// padding: 42px 87px 0;
		padding-top: 42px;
		@include mw(M) {
			padding: 0;
			// padding: 0 16px 0;
		}
	}
}
.menu {
	flex: none;
	@include d_f(flex, space-between, center);
	width: 100%;
	height: 77px;
	background-color: #fff;
	box-shadow: 0px 1px 9px rgba(38, 38, 38, 0.05);
	padding: 0 80px;
	@include mw(M) {
		order: 1;
		height: 56px;
		padding: 0 16px;
	}
	// menu_nav
	&_nav {
		@include d_f(flex);
		@include mw(M) {
			width: 100%;
			justify-content: space-between;
		}
		// menu_nav_item
		&_item {
			width: 95px;
			@extend %hand;
			@include mw(M) {
				width: calc(100% / 5);
			}
			a {
				@include d_f(flex, center, center);
				color: #dedede;
				fill: #dedede;
				&:after {
					content: attr(data-txt);
					overflow: hidden;
					width: 0;
					white-space: nowrap;
					@extend %transition;
				}
				> i {
					width: 24px;
					height: 24px;
					// margin-right: 14px;
				}
			}

			&.on {
				a {
					color: #fdaaa2;
					fill: #fdaaa2;
					&:after {
						width: 100%;
						margin-left: 14px;
						@include mw(M) {
							width: 0;
							margin-left: 0;
						}
					}
				}
			}

			@include hoverHandler {
				& {
					a:after {
						width: 100%;
						margin-left: 14px;
						@include mw(M) {
							width: 0;
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}

.logo {
	width: 118px;
	height: 53px;
	@include mw(M) {
		display: none;
	}
	// logo_img
	&_img {
		width: 100%;
	}
}

.showPAD {
	display: none;
	@include mw(M) {
		display: block;
	}
}
.tab {
	@include d_f(inline-flex, center, center);
	@include mw(M) {
		padding-right: 24px;
	}
	@include mw(XS) {
		padding-right: 16px;
	}
	// .tab_item
	&_item {
		@include d_f(inline-flex, center, center);
		width: 95px;
		height: 38px;
		background-color: #fff;
		color: #262626;
		border-radius: 10px;
		@extend %hand;

		@include mw(M) {
			background-color: #f8f8f8;
		}
		@include mw(XS) {
			width: 64px;
		}
		@include mw(XXS) {
			width: 50px;
		}
		& + & {
			margin-left: 12px;
			@include mw(XS) {
				margin-left: 6px;
			}
		}
		&.on {
			background-color: #fdaaa2;
			color: #fff;
		}
	}
}

.scroll_y {
	overflow-x: hidden;
	overflow-y: auto;
	@at-root .emergency & {
		padding: 0 87px;
		@include mw(M) {
			padding: 0;
		}
	}
}
.func {
	flex: none;
	width: 413px;
	height: 100%;
	padding: 20px 36px 16px 87px;
	background-color: #fafafa;
	box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
	// .func_box
	&_box {
		& + & {
			margin-top: 8px;
		}

		& + .func_switch {
			margin-top: 23px;
		}
	}
	// .func_switch
	&_switch {
		@include d_f(flex, space-between);
		& + & {
			margin-top: 10px;
		}
	}
	// .func_ul
	&_ul {
		@include d_f(flex);
		flex-wrap: wrap;
		h2 + & {
			margin-top: 4px;
		}
	}
	// .func_li
	&_li {
		flex: none;
		@extend %hand;
		@extend %transition;
		@include d_f(flex, center, center);
		width: 90px;
		height: 40px;
		fill: #262626;
		background: #ffffff;
		box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
		border-radius: 14px;
		color: #262626;
		& + &:not(:nth-child(3n + 1)) {
			margin-left: 10px;
		}
		&:nth-child(n + 4) {
			margin-top: 8px;
		}
		&.on {
			background-color: #262626;
			fill: #fff;
			color: #fff;
		}
		&.square {
			width: 90px;
			height: 68px;
		}
	}
	// .func_btn
	&_btn {
		width: 100%;
		height: 50px;
		margin-top: 15px;
		background: #262626;
		color: #fff;
		box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
		border-radius: 16px;
		@extend %hand;
	}
}
h2 {
	color: #262626;
	font-weight: 500;
	font-size: 16px;
}

.icon {
	display: block;
	&._animal {
		@include d_f(flex, center, center);
		width: 36px;
		height: 36px;
	}
}
.male {
	fill: #70d4f4;
}
.female {
	fill: #fdaaa2;
}

.switch {
	position: relative;
	width: 52px;
	height: 28px;
	@extend %hand;
	input {
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0;
		display: none;
		&:checked {
			& + .switch_ball {
				background-color: #fdaaa2;
				&:after {
					transform: translateX(100%);
				}
			}
		}
	}
	// .switch_ball
	&_ball {
		@include d_f(flex, none, center);
		width: 100%;
		height: 100%;
		padding-left: 4px;
		background: #dedede;
		border-radius: 50px;
		@extend %transition;
		&:after {
			content: "";
			display: block;
			width: 22px;
			height: 22px;
			background-color: #fff;
			border-radius: 50px;
			@extend %transition;
		}
	}
}
.info{
	width: 100%;
	height: 100%;
	padding: 0 55px;
}