@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
tt,
b,
i,
ol,
ul,
li,
form,
label,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #262626;
  font-family: "Abhaya Libre", sans-serif;
}

/* 
僅限ios15以上的safari瀏覽器
才加class在html上(高度改為100vh的class)
並於以下狀態
在html加上重整高度class(一秒後移除)
1.從登入頁進入到主框架時
2.鍵盤彈出後收起時 
*/
html.ios15 {
  height: 100vh;
}

.ios15 body {
  height: 100vh;
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -moz-outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button {
  border: none;
  font-family: "Helvetica", sans-serif;
  padding: 0;
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  font-size: 15px;
}

button {
  border: none;
  background-color: transparent;
}

img {
  width: 100%;
  vertical-align: middle;
}

select {
  border: none;
  -webkit-appearance: none;
}

@media only screen and (min-device-width: 1025px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border: 1px #f1f1f1 solid;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background 0.5s linear;
    transition: background 0.5s linear;
  }
  *:hover::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
  }
  ::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
  }
}
.slip_item, .switch_ball:after, .switch_ball, .func_li, .menu_nav_item a:after {
  transition-duration: 0.3s;
}

.theme_btn_page, .close_btn, .detail_basic_info button, .slip_item_info button, .slip_item_detail, .switch, .func_btn, .func_li, .tab_item, .menu_nav_item, .head_btn {
  cursor: pointer;
}

.wrap {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
}

.head {
  display: none;
  flex: none;
  width: 100%;
  height: 92px;
  padding: 0 16px;
  background-color: #e5e5e5;
  color: #262626;
  fill: #262626;
  font-weight: 700;
  font-size: 20px;
}
@media screen and (max-width: 995px) {
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 599px) {
  .head {
    height: 62px;
  }
}
.head_btn {
  flex: none;
  width: 46px;
  height: 46px;
}
@media screen and (max-width: 599px) {
  .head_btn {
    width: 36px;
    height: 36px;
  }
}

.container {
  width: 100%;
  min-height: 100%;
}
.home .container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
}
@media screen and (max-width: 995px) {
  .home .container {
    flex-direction: column;
  }
}

.detail .container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 880px;
  margin: auto;
  padding: 35px 0;
}
@media screen and (max-width: 995px) {
  .detail .container {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    padding-top: 0;
  }
}

.collect .container {
  padding-top: 42px;
}

.emergency .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 42px;
}
@media screen and (max-width: 995px) {
  .emergency .container {
    padding: 0;
  }
}

.main {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.menu {
  flex: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 77px;
  background-color: #fff;
  box-shadow: 0px 1px 9px rgba(38, 38, 38, 0.05);
  padding: 0 80px;
}
@media screen and (max-width: 1280px) {
  .menu {
    padding: 0 40px;
  }
}
@media screen and (max-width: 995px) {
  .menu {
    order: 1;
    height: 56px;
    padding: 0 16px;
  }
}
.menu_nav {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
@media screen and (max-width: 995px) {
  .menu_nav {
    width: 100%;
    justify-content: space-between;
  }
}
.menu_nav_item {
  width: 95px;
}
@media screen and (max-width: 995px) {
  .menu_nav_item {
    width: 20%;
  }
}
.menu_nav_item a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dedede;
  fill: #dedede;
}
.menu_nav_item a:after {
  content: attr(data-txt);
  overflow: hidden;
  width: 0;
  white-space: nowrap;
}
.menu_nav_item a > i {
  width: 24px;
  height: 24px;
}
.menu_nav_item.on a {
  color: #fdaaa2;
  fill: #fdaaa2;
}
.menu_nav_item.on a:after {
  width: 100%;
  margin-left: 14px;
}
@media screen and (max-width: 995px) {
  .menu_nav_item.on a:after {
    width: 0;
    margin-left: 0;
  }
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .menu_nav_item:hover a:after {
    width: 100%;
    margin-left: 14px;
  }
}
@media screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2) and (max-width: 995px), screen and (pointer: fine) and (max-resolution: 2dppx) and (max-width: 995px), screen and (-moz-touch-enabled: 0) and (max-width: 995px) {
  .menu_nav_item:hover a:after {
    width: 0;
    margin-left: 0;
  }
}
.menu_nav_item:active a:after {
  width: 100%;
  margin-left: 14px;
}
@media screen and (max-width: 995px) {
  .menu_nav_item:active a:after {
    width: 0;
    margin-left: 0;
  }
}

.logo {
  width: 118px;
  height: 53px;
}
@media screen and (max-width: 995px) {
  .logo {
    display: none;
  }
}
.logo_img {
  width: 100%;
}

.tab {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 995px) {
  .tab {
    padding-right: 24px;
  }
}
@media screen and (max-width: 599px) {
  .tab {
    padding-right: 16px;
  }
}
.tab_item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 38px;
  background-color: #fff;
  color: #262626;
  border-radius: 10px;
}
@media screen and (max-width: 995px) {
  .tab_item {
    background-color: #f8f8f8;
  }
}
@media screen and (max-width: 599px) {
  .tab_item {
    width: 64px;
  }
}
@media screen and (max-width: 360px) {
  .tab_item {
    width: 50px;
  }
}
.tab_item + .tab_item {
  margin-left: 12px;
}
@media screen and (max-width: 599px) {
  .tab_item + .tab_item {
    margin-left: 6px;
  }
}
.tab_item.on {
  background-color: #fdaaa2;
  color: #fff;
}

.scroll_y {
  overflow-x: hidden;
  overflow-y: auto;
}
.emergency .scroll_y {
  padding: 0 87px;
}
@media screen and (max-width: 995px) {
  .emergency .scroll_y {
    padding: 0;
  }
}

.func {
  overflow-x: hidden;
  overflow-y: auto;
  flex: none;
  position: relative;
  width: 413px;
  height: 100%;
  padding: 20px 36px 16px 87px;
  background-color: #fafafa;
  box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
  z-index: 1;
}
@media screen and (max-width: 1280px) {
  .func {
    width: 370px;
    padding: 20px 30px 16px 40px;
  }
}
.func_box + .func_box {
  margin-top: 8px;
}
.func_box + .func_switch {
  margin-top: 23px;
}
.func_switch {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.func_switch + .func_switch {
  margin-top: 10px;
}
.func_ul {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}
h2 + .func_ul {
  margin-top: 4px;
}
.func_li {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  fill: #262626;
  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
  border-radius: 14px;
  color: #262626;
}
.func_li + .func_li:not(:nth-child(3n+1)) {
  margin-left: 10px;
}
.func_li:nth-child(n+4) {
  margin-top: 8px;
}
.func_li.on {
  background-color: #262626;
  fill: #fff;
  color: #fff;
}
.func_li.square {
  width: 90px;
  height: 68px;
}
.func_btn {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  background: #262626;
  color: #fff;
  box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
  border-radius: 16px;
}

h2 {
  color: #262626;
  font-weight: 500;
  font-size: 16px;
}

.icon {
  display: block;
}
.icon._animal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.male {
  fill: #70d4f4;
}

.female {
  fill: #fdaaa2;
}

.switch {
  position: relative;
  width: 52px;
  height: 28px;
}
.switch input {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  display: none;
}
.switch input:checked + .switch_ball {
  background-color: #fdaaa2;
}
.switch input:checked + .switch_ball:after {
  transform: translateX(100%);
}
.switch_ball {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 4px;
  background: #dedede;
  border-radius: 50px;
}
.switch_ball:after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 50px;
}

.slip {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 599px) {
  .slip {
    align-items: center;
  }
}
.slip::before {
  content: "";
  position: absolute;
  top: 21.44%;
  left: 90px;
  right: 0;
  width: 223px;
  height: 387px;
  margin: 0 auto;
  background: #ffffff;
  /* shadow */
  box-shadow: 0px 4px 24px rgba(10, 10, 10, 0.25);
  border-radius: 32px;
  transform: matrix(0.96, 0.29, -0.29, 0.96, 0, 0);
}
@media screen and (max-width: 995px) {
  .slip::before {
    left: 50px;
  }
}
@media screen and (max-width: 599px) {
  .slip::before {
    left: 84px;
    width: 210px;
    height: 265px;
  }
}
.slip_item {
  overflow: hidden;
  position: absolute;
  top: 12.36%;
  width: 276px;
  height: 444px;
  background: #ffffff;
  border: 12px solid #fff;
  box-shadow: 0px 9px 11px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  transform: rotate(-3deg);
}
@media screen and (max-width: 599px) {
  .slip_item {
    flex: none;
    width: 261px;
    height: 419px;
  }
}
.slip_item:not(._noData)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(179.93deg, rgba(0, 0, 0, 0) 56.33%, #000000 98.5%);
}
.slip_item._noData {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 244px;
  height: 413px;
  color: #fdaaa2;
  transform: rotate(14deg);
}
@media screen and (max-width: 599px) {
  .slip_item._noData {
    width: 230px;
    height: 390px;
  }
}
.slip_item._noData span {
  transform: rotate(-14deg);
}
.slip_item.like {
  transform: translate3d(1000px, 0, 0) rotate(45deg) !important;
  transition-duration: 1s !important;
}
@media screen and (max-width: 767px) {
  .slip_item.like {
    transform: translate3d(1000px, 0, 0) rotate(30deg) !important;
  }
}
.slip_item.unlike {
  transform: translate3d(-1000px, 0, 0) rotate(-45deg) !important;
  transition-duration: 1s !important;
}
@media screen and (max-width: 767px) {
  .slip_item.unlike {
    transform: translate3d(-1000px, 0, 0) rotate(-30deg) !important;
  }
}
.slip_item_detail {
  flex: none;
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  transform: rotate(3deg);
  border-radius: 50px;
  box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
}
.slip_item_detail i {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.slip_item_info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 14px;
  transform: rotate(3deg);
}
.slip_item_info button {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
}
.slip_item_info .unlike {
  fill: #262626;
}
.slip_item_info .unlike i {
  width: 14px;
  height: 14px;
}
.slip_item_info .like {
  fill: #fdaaa2;
}
.slip_item_info .like i {
  width: 22px;
  height: 18px;
}
.slip_item_info .like svg {
  width: 22px;
}

.info {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 0 55px 30px;
}
@media screen and (max-width: 1280px) {
  .info {
    padding: 0 20px 30px;
  }
}

.recommend {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}
.recommend_li {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: calc(33.3333333333% - 10px);
  height: 70px;
  padding: 10px 12px;
  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
  border-radius: 23px;
}
.recommend_li + .recommend_li {
  margin-left: 10px;
}
.recommend_pic {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50px;
  background-color: #ccc;
}

.petInfoTxt {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  color: #262626;
}
.petInfoTxt_name {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.recommend_li .petInfoTxt_name, .collect .petInfoTxt_name {
  font-size: 16px;
}

.collect .petInfoTxt_name {
  justify-content: space-between;
}

.petInfoTxt_address {
  font-size: 14px;
}
.recommend_li .petInfoTxt_address, .collect .petInfoTxt_address {
  font-size: 12px;
  color: #878787;
}

.petInfoTxt .gender {
  display: block;
  width: 24px;
  height: 24px;
}
.slip_item_info .petInfoTxt {
  color: #fff;
}

.detail_img {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 428px;
  max-height: 579px;
  margin-right: 26px;
  border: 18.5px solid #fff;
  border-radius: 32px;
  box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
}
.detail_img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180.01deg, rgba(0, 0, 0, 0) 48.59%, rgba(0, 0, 0, 0) 70.09%, rgba(0, 0, 0, 0.55) 90.71%);
  pointer-events: none;
}
@media screen and (max-width: 995px) {
  .detail_img {
    flex: none;
    max-width: 768px;
    height: 100%;
    max-height: 545px;
    margin-right: 0;
    border-radius: 0;
    border: none;
  }
}
@media screen and (max-width: 599px) {
  .detail_img {
    max-height: 274px;
  }
}
.detail_basic {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 579px;
}
@media screen and (max-width: 995px) {
  .detail_basic {
    max-width: 768px;
    padding: 0 15px;
    transform: translateY(-90px);
  }
}
.detail_basic_info {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
}
@media screen and (max-width: 995px) {
  .detail_basic_info {
    padding: 20px 24px;
  }
  .detail_basic_info .petInfoTxt {
    color: #fff;
  }
}
@media screen and (max-width: 599px) {
  .detail_basic_info {
    padding: 20px 0;
  }
}
.detail_basic_info button {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
}
.detail_basic_info .like {
  fill: #fdaaa2;
}
.detail_basic_info .like i {
  width: 22px;
  height: 18px;
}
.detail_basic_info .like svg {
  width: 22px;
}
.detail_basic_info + .detail_basic_serial {
  margin-top: 15px;
}
@media screen and (max-width: 995px) {
  .detail_basic_info + .detail_basic_serial {
    margin-top: 46px;
  }
}
.detail_basic_serial {
  padding: 30px 24px;
  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
  border-radius: 20px;
}
.detail_basic_serial .big,
.detail_basic_serial .small {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.detail_basic_serial .big {
  font-size: 20px;
  color: #262626;
}
.detail_basic_serial .small {
  font-size: 14px;
  color: #878787;
}
.detail_basic_serial + .detail_basic_introduction {
  margin-top: 13px;
}
.detail_basic_introduction {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 25px 33.5px;
  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
  border-radius: 20px;
  text-align: center;
  fill: #fdaaa2;
}
@media screen and (max-width: 995px) {
  .detail_basic_introduction {
    justify-content: center;
  }
  .detail_basic_introduction li + li {
    margin-left: 77px;
  }
}
@media screen and (max-width: 995px) and (max-width: 599px) {
  .detail_basic_introduction li + li {
    margin-left: 38px;
  }
}
.detail_basic_introduction .pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  background: #f8f8f8;
  border-radius: 50px;
}
@media screen and (max-width: 360px) {
  .detail_basic_introduction .pic {
    width: 50px;
    height: 50px;
  }
}
.detail_basic_introduction .txt {
  margin-top: 6px;
  font-size: 16px;
}
.detail_basic_introduction + .detail_basic_normal {
  margin-top: 13px;
}
.detail_basic_normal {
  height: 100%;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
  border-radius: 20px;
}
.detail_basic_normal li + li {
  margin-top: 10px;
}

.collect_group {
  width: 100%;
  max-width: 1044px;
  margin: auto;
}
.collect_item {
  display: inline-block;
  margin: 6px;
  padding: 12px 12px 17px;
  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
  border-radius: 28px;
}
.collect_item_pic {
  overflow: hidden;
  width: 138px;
  height: 132px;
  margin-bottom: 8px;
  border-radius: 28px;
}

.close_btn {
  position: absolute;
  top: 26px;
  left: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.19);
  fill: #fff;
}

@media screen and (max-width: 995px) {
  .showPC {
    display: none;
  }
}

.showPAD {
  display: none;
}
@media screen and (max-width: 995px) {
  .showPAD {
    display: block;
  }
  .showPAD.head {
    display: flex;
  }
}

.emergency_nav {
  display: inline-flex;
  flex-direction: column;
  height: 70px;
}
@media screen and (max-width: 995px) {
  .emergency_nav {
    flex: none;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 92px;
    background-color: #fff;
    box-shadow: 0px 1px 9px rgba(38, 38, 38, 0.05);
    z-index: 1;
  }
}
@media screen and (max-width: 599px) {
  .emergency_nav {
    height: 62px;
  }
}
.emergency_nav span {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  text-align: right;
}
@media screen and (max-width: 995px) {
  .emergency_nav span {
    position: absolute;
    top: 100%;
    right: 16px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 599px) {
  .emergency_nav span {
    margin-top: 18px;
  }
}
.emergency_nav + .emergency_group {
  margin-top: 20px;
}
@media screen and (max-width: 995px) {
  .emergency_nav + .emergency_group {
    margin-top: 135px;
  }
}
@media screen and (max-width: 599px) {
  .emergency_nav + .emergency_group {
    margin-top: 116px;
  }
}
.emergency_nav .name {
  padding-left: 24px;
  color: #262626;
  font-weight: 700;
  font-size: 20px;
}
@media screen and (max-width: 599px) {
  .emergency_nav .name {
    padding-left: 16px;
  }
}
.emergency_group {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 8px;
}
@media screen and (max-width: 995px) {
  .emergency_group {
    padding: 43px 16px 8px;
  }
}
.emergency_group + .emergency_group {
  margin-top: 10px;
}
.emergency_group_title {
  display: flex;
  align-items: center;
  width: 100%;
  color: #262626;
  font-weight: 700;
  font-size: 20px;
  fill: #fdaaa2;
}
.emergency_group_title i {
  flex: none;
  display: block;
  width: 24px;
  height: 23px;
  margin-right: 5px;
}
.emergency_group_card {
  position: relative;
  width: calc(33.3333333333% - 5.3333333333px);
  background-color: #fff;
  box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
  padding: 12px;
  border-radius: 20px;
  margin-top: 8px;
  margin-left: 8px;
}
.emergency_group_card:nth-child(3n-1) {
  margin-left: 0;
}
@media screen and (max-width: 995px) {
  .emergency_group_card {
    width: calc(50% - 4px);
  }
  .emergency_group_card:nth-child(3n-1) {
    margin-left: 8px;
  }
  .emergency_group_card:nth-child(even) {
    margin-left: 0;
  }
}
@media screen and (max-width: 599px) {
  .emergency_group_card {
    width: 100%;
    margin-left: 0;
  }
  .emergency_group_card:nth-child(3n-1) {
    margin-left: 0;
  }
}
.emergency_group_card p + p {
  margin-top: 8px;
}
.emergency_group_card .title {
  display: flex;
  justify-content: space-between;
}
.emergency_group_card span {
  color: #fdaaa2;
  white-space: nowrap;
}
.emergency_group_card .address {
  max-width: calc(100% - 50px);
}
.emergency_group_card a {
  flex: none;
  position: absolute;
  right: 12px;
  bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #262626;
  fill: #fff;
  border-radius: 50px;
}

.theme_btn {
  position: absolute;
  right: 118px;
  bottom: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.theme_btn_page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: #fff;
  border-radius: 14px;
}
.theme_btn_page + .theme_btn_page {
  margin-left: 24px;
}/*# sourceMappingURL=all.css.map */